.cube-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cb997e !important;
}

.title-home{
    color: #6b705c !important;
    padding-top: 2rem !important;
    text-align: center !important;
}