html,body,#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  direction: rtl;
  text-align: right;
  font-size: 1rem;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
